@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
	font-size: 16px;
	font-family: Roboto, sans-serif;
	margin: 0;
	background: #d3d3d3;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

#header {
	width: 100%;
	height: 15vh;
	background: #909090;
}

#logo {
	width: 200px;
	height: 100px;
}

.formulario {
	margin: 20px;
}

#form {
	width: 40%;
}

#form table {
	width: 100%;
}

#form table input {
	border: 1px solid #CCC;
	box-shadow: none;
	width: 99%;
	margin-bottom: 15px;
}

#form button {
	background: none;
	border: 2px solid #49b675;
	color: #49b675;
	border-radius: 50px;
	width: 250px;
}

h1 {
	text-align: center;
	background-color: #49b675;
}

#table {
	width: 80%;
	border: 2px solid #49b675;
}

#table th {
	color: #FFF;
	background: #63b521;
	text-shadow: none;
	height: 30px;
	box-shadow: none;
}

#table th, #table td {
	border-color: #FFF;
}

#table button {
	background: none;
	border: 2px solid #49b675;
	color: #49b675;
	border-radius: 50px;
	width: 250px;
}